.Form-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 22.5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    padding: 20px;
}

.Form-field {
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    box-sizing: border-box;
    margin: 3px 0 15px 0;
    font-size: 16px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

::placeholder {
    color: rgba(0, 0, 0, 0.35);
}