.Car-car {
    background-color: white;
    border-radius: 22.5px;
    overflow: hidden;
    width: 270px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    margin: 7.5px;
    color: black;
    text-decoration: none;
    display: block;
}

.Car-car img {
    width: 100%;
}

.Car-car h3 {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
}