@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #EAE8E5;
    font-size: 16px;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
}
/* Begin Navbar */
.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    background-color: white;
}

.Navbar-brand h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.fa-car {
    margin-right: 5px;
}

.Navbar a {
    text-decoration: none;
    color: black;
}

.Navbar a:hover {
    text-decoration: underline;
}

.Navbar-links-right .Navbar-link {
    padding: 0 20px;
}

.Navbar-links-left .Navbar-link {
    padding: 0 20px;
}

.Navbar-burger {
    width: 25px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 13px;
    right: 15px;
}

.Navbar-burger:hover {
    cursor: pointer;
}

.Navbar-burger:hover .Navbar-bar {
    background-color: #3E3E3E;
}

.Navbar-bar {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 5px;
}

.Navbar-links-right, .Navbar-links-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar-spacer {
    height: 61px;
}

@media (max-width: 900px){
    .Navbar-spacer {
        height: 43px;
    }
    
    .Navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 15px 5px 15px;
    }

    .Navbar.active {
        background-color: #DAD8D8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .Navbar-burger {
        display: flex;
    }

    .Navbar-links-right, .Navbar-links-left {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .Navbar-links-right a.Navbar-link, .Navbar-links-left a.Navbar-link {
        font-size: 20px;
        padding: 15px 0;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #BFBFBF;
    }

    .Navbar-links-right a:last-of-type {
        border: none;
    }

    .Navbar.active .Navbar-links-right, .Navbar.active .Navbar-links-left {
        display: flex;
    }
}

@media (min-width: 900px){
    .Navbar .Navbar-signup-btn {
        border: 1px solid black;
        padding: 10px 15px;
        border-radius: 25px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }

    .Navbar .Navbar-signup-btn:hover {
        background-color: #EFEFEF;
        cursor: pointer;
    }
}
/* End Navbar */

/* Begin Footer */
.Footer {
    text-align: center;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.Footer-spacer {
    height: 40px;
}
/* End Footer */

/* Begin ExplorePage */
.ExplorePage-container {
    width: 90%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.ExplorePage-blob {
    background-color: white;
    border-radius: 22.5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

.ExplorePage-title {
    padding: 10px;
    margin: 30px 0 20px 0;
}

.ExplorePage-title h2 {
    margin: 0 0 2px 0;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.ExplorePage-title p {
    margin: 0;
    text-align: center;
}

.ExplorePage-inner-container {
    flex-basis: 0;
    flex-grow: 1;
    margin: 0;
}

.ExplorePage-inner-container:first-of-type {
    margin-right: 80px;
}

.ExplorePage-people-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.ExplorePage-person {
    width: 150px;
    background-color: white;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 22.5px;
    border-bottom-right-radius: 22.5px;
    margin: 7.5px;
    color: black;
    text-decoration: none;
}

.ExplorePage-person img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

.ExplorePage-person h3 {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    margin: 10px 0;
}

.ExplorePage-car-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.ExplorePage-car {
    background-color: white;
    border-radius: 22.5px;
    overflow: hidden;
    width: 270px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    margin: 7.5px;
    color: black;
    text-decoration: none;
}

.ExplorePage-car img {
    width: 100%;
}

.ExplorePage-car h3 {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
}

@media (max-width: 900px){
    .ExplorePage-container {
        flex-direction: column;
        align-items: stretch;
    }

    .ExplorePage-inner-container:first-of-type{
        margin: 0;
    }
}
/* End ExplorePage */