@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #EAE8E5;
    font-size: 16px;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
}
/* Begin Navbar */
.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    background-color: white;
}

.Navbar-brand h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.fa-car {
    margin-right: 5px;
}

.Navbar a {
    text-decoration: none;
    color: black;
}

.Navbar a:hover {
    text-decoration: underline;
}

.Navbar-links-right .Navbar-link {
    padding: 0 20px;
}

.Navbar-links-left .Navbar-link {
    padding: 0 20px;
}

.Navbar-burger {
    width: 25px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 13px;
    right: 15px;
}

.Navbar-burger:hover {
    cursor: pointer;
}

.Navbar-burger:hover .Navbar-bar {
    background-color: #3E3E3E;
}

.Navbar-bar {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 5px;
}

.Navbar-links-right, .Navbar-links-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar-spacer {
    height: 61px;
}

@media (max-width: 900px){
    .Navbar-spacer {
        height: 43px;
    }
    
    .Navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 15px 5px 15px;
    }

    .Navbar.active {
        background-color: #DAD8D8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .Navbar-burger {
        display: flex;
    }

    .Navbar-links-right, .Navbar-links-left {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .Navbar-links-right a.Navbar-link, .Navbar-links-left a.Navbar-link {
        font-size: 20px;
        padding: 15px 0;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #BFBFBF;
    }

    .Navbar-links-right a:last-of-type {
        border: none;
    }

    .Navbar.active .Navbar-links-right, .Navbar.active .Navbar-links-left {
        display: flex;
    }
}

@media (min-width: 900px){
    .Navbar .Navbar-signup-btn {
        border: 1px solid black;
        padding: 10px 15px;
        border-radius: 25px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }

    .Navbar .Navbar-signup-btn:hover {
        background-color: #EFEFEF;
        cursor: pointer;
    }
}
/* End Navbar */

/* Begin Footer */
.Footer {
    text-align: center;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.Footer-spacer {
    height: 40px;
}
/* End Footer */

/* Begin FeedPage */
.FeedPage-container {
    width: 97%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
}

.FeedPage-friends-container {
    flex-basis: 285px;
    flex-shrink: 1;
}

.FeedPage-feed-container {
    flex-basis: 700px;
    flex-shrink: 1;
    margin: 0 15px;
}

.FeedPage-cars-container {
    flex-basis: 200px;
    flex-shrink: 0;
}

.FeedPage-blob {
    background-color: white;
    border-radius: 22.5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

.FeedPage-title {
    padding: 10px;
    flex-grow: 1;
}

.FeedPage-title h2 {
    margin: 0 0 2px 0;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.FeedPage-title p {
    margin: 0;
    text-align: center;
}

.FeedPage-people-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.FeedPage-person {
    width: 125px;
    background-color: white;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 22.5px;
    border-bottom-right-radius: 22.5px;
    margin: 7.5px;
    color: black;
    text-decoration: none;
    display: block;
}

.FeedPage-person:last-of-type {
    margin-bottom: 20px;
}

.FeedPage-person img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

.FeedPage-person h3 {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    margin: 10px 0;
}

.FeedPage-car-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.FeedPage-car {
    background-color: white;
    border-radius: 22.5px;
    overflow: hidden;
    width: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    margin: 7.5px;
    color: black;
    text-decoration: none;
    display: block;
}

.FeedPage-car img {
    width: 100%;
}

.FeedPage-car h3 {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
}

.FeedPage-post-form {
    margin-top: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.FeedPage-post-form img {
    width: 30px;
    border-radius: 50%;
}

.FeedPage-post-form textarea {
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.35); 
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
    font-size: 16px;
    resize: none;
    flex-grow: 1;
    margin-left: 10px;
}

.FeedPage-post {
    padding: 20px;
    margin-top: 15px;
    overflow: auto;
}

.FeedPage-post-user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.FeedPage-post-user>img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px
}

.FeedPage-post-user p {
    margin: 0;
}

.FeedPage-post-date {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
}

.FeedPage-post-text {
    margin: 20px 0;
}

.FeedPage-like-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.FeedPage-like-container>div {
    cursor: pointer;
}

.FeedPage-like-container .fa-thumbs-up {
    margin-right: 2px;
}

.FeedPage-comments-arrow {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: translateX(-5px) translateY(-3px) rotate(-135deg);
}

.FeedPage-comment-container>div:first-of-type {
    margin-top: 20px;
}

.FeedPage-comment-container>div:last-of-type {
    margin-bottom: 0;
}

.FeedPage-comment {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.FeedPage-comment>span {
    color: #AA4A4A;
}

.FeedPage-comment>img {
    width: 30px;
    border-radius: 50%;
    margin: 0 10px;
}

.FeedPage-comment>div>span {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.FeedPage-comment>div>p {
    margin: 0;
}

.FeedPage-comment-input {
    width: 100%;
    border-radius: 15px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.35);
    padding: 5px 10px;
    font-size: 16px;
    margin-top: 10px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.35);
}

@media (max-width: 900px){
    .FeedPage-container {
        flex-direction: column;
        align-items: stretch;
    }

    .FeedPage-friends-container,
    .FeedPage-cars-container {
        display: none;
    }
}
/* End FeedPage */