@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #EAE8E5;
    font-size: 16px;
}
/* Begin Navbar */
.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    background-color: white;
}

.Navbar-brand h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.fa-car {
    margin-right: 5px;
}

.Navbar a {
    text-decoration: none;
    color: black;
}

.Navbar a:hover {
    text-decoration: underline;
}

.Navbar-links-right .Navbar-link {
    padding: 0 20px;
}

.Navbar-links-left .Navbar-link {
    padding: 0 20px;
}

.Navbar-burger {
    width: 25px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 13px;
    right: 15px;
}

.Navbar-burger:hover {
    cursor: pointer;
}

.Navbar-burger:hover .Navbar-bar {
    background-color: #3E3E3E;
}

.Navbar-bar {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 5px;
}

.Navbar-links-right, .Navbar-links-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar-spacer {
    height: 61px;
}

@media (max-width: 900px){
    .Navbar-spacer {
        height: 43px;
    }
    
    .Navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 15px 5px 15px;
    }

    .Navbar.active {
        background-color: #DAD8D8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .Navbar-burger {
        display: flex;
    }

    .Navbar-links-right, .Navbar-links-left {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .Navbar-links-right a.Navbar-link, .Navbar-links-left a.Navbar-link {
        font-size: 20px;
        padding: 15px 0;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #BFBFBF;
    }

    .Navbar-links-right a:last-of-type {
        border: none;
    }

    .Navbar.active .Navbar-links-right, .Navbar.active .Navbar-links-left {
        display: flex;
    }
}

@media (min-width: 900px){
    .Navbar .Navbar-signup-btn {
        border: 1px solid black;
        padding: 10px 15px;
        border-radius: 25px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }

    .Navbar .Navbar-signup-btn:hover {
        background-color: #EFEFEF;
        cursor: pointer;
    }
}
/* End Navbar */

/* Begin Footer */
.Footer {
    text-align: center;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.Footer-spacer {
    height: 40px;
}
/* End Footer */

/* Begin Hero */
.LandingPage-Hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 38% 70%;
    background-size: cover;
}

.LandingPage-Hero-text {
    position: absolute;
    top: 75px;
    right: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    z-index: 1;
}

.LandingPage-Hero-text h1 {
    margin: 0;
    font-size: 36px;
    text-align: center;
    font-weight: 500;
}

.LandingPage-Hero-text p {
    margin: 3px 0 25px 0;
    font-size: 18px;
    text-align: center;
    width: 280px;
}

.LandingPage-Hero-text a {
    text-decoration: none;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.12);
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 25px;
}

.LandingPage-Hero-text a:hover {
    background-color: #D7D7D7;
}

.LandingPage-main-container {
    width: 100vw;
    position: relative;
}

@media (max-width: 900px){
    .LandingPage-Hero-text {
        margin: 30px 15px;
        position: static;
    }

    .LandingPage-Hero-text h1 {
        margin: 0;
        font-size: 28px;
    }

    .LandingPage-Hero-text p, 
    .LandingPage-Hero-text a {
        font-size: 16px;
    }

    .LandingPage-Hero-image {
        height: 100%;
    }
}

@media (max-height: 350px){
    .LandingPage-Hero-image {
        display: none;
    }

    .LandingPage-Hero-text {
        flex-grow: 1;
        justify-content: center;
    }
}
/* End Hero */