.AboutPage-container {
    width: 90%;
    max-width: 700px;
    margin: auto;
}

.AboutPage-blob {
    background-color: white;
    border-radius: 22.5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

.AboutPage-title {
    padding: 10px;
    margin-top: 30px;
}

.AboutPage-title h2 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 2px 0;
}

.AboutPage-title p {
    margin: 0;
    text-align: center;
}

.AboutPage-about {
    padding: 15px 15px 0 15px;
    margin-top: 15px;
}

.AboutPage-about p {
    margin: 0;
}

.AboutPage-about ul {
    margin: 10px 0;
}

.AboutPage-about ul strong {
    font-weight: 500;
}

p.AboutPage-handcrafted {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.AboutPage-heart {
    color: red;
}

.AboutPage-icon-container {
    margin-top: 34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.AboutPage-icon-container a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: black;
    text-decoration: none;
    margin: 0 15px 15px 15px;
}

.AboutPage-icon-container a:hover {
    color: #808080;
}

.AboutPage-icon-container p {
    margin: 0;
    font-size: 14px;
}

.AboutPage-icon-container p:nth-of-type(2) {
    font-size: 10px;
}

.AboutPage-icon-container .iconify {
    width: 35px;
    height: 35px;
}