.FeedPage-container {
    width: 97%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
}

.FeedPage-friends-container {
    flex-basis: 285px;
    flex-shrink: 1;
}

.FeedPage-feed-container {
    flex-basis: 700px;
    flex-shrink: 1;
    margin: 0 15px;
}

.FeedPage-cars-container {
    flex-basis: 200px;
    flex-shrink: 0;
}

.FeedPage-blob {
    background-color: white;
    border-radius: 22.5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

.FeedPage-title {
    padding: 10px;
    flex-grow: 1;
    margin-bottom: 15px;
}

.FeedPage-title h2 {
    margin: 0 0 2px 0;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.FeedPage-title p {
    margin: 0;
    text-align: center;
}

.FeedPage-no-elements {
    padding: 15px 10px;
    flex-grow: 1;
    margin-bottom: 15px;
}

.FeedPage-no-elements p {
    margin: 0;
    text-align: center;
}

.FeedPage-people-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.FeedPage-car-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.FeedPage-post-form {
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.FeedPage-post-form img {
    width: 30px;
    border-radius: 50%;
}

.FeedPage-post-form textarea {
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.35); 
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
    font-size: 16px;
    resize: none;
    flex-grow: 1;
    margin-left: 10px;
}

.FeedPage-post-form button {
    background-color: black;
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    align-self: center;
    margin-left: 10px;
    cursor: pointer;
}

.FeedPage-post-form button:hover {
    background-color: #424242;
}

.FeedPage-post-form ::placeholder {
    color: rgba(0, 0, 0, 0.35);
}

@media (max-width: 900px){
    .FeedPage-container {
        flex-direction: column;
        align-items: stretch;
    }

    .FeedPage-friends-container,
    .FeedPage-cars-container {
        display: none;
    }
}