.FriendPage-container {
    width: 97%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 30px 0 20px 0;
}

.FriendPage-inner-container {
    width: 100%;
    flex-basis: 700px;
    flex-shrink: 1;
}

.FriendPage-blob {
    background-color: white;
    border-radius: 22.5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

.FriendPage-title {
    padding: 10px;
    margin: 0 0 20px 0;
}

.FriendPage-title h2 {
    margin: 0 0 2px 0;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.FriendPage-title p {
    margin: 0;
    text-align: center;
}

.FriendPage-people-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.FriendPage-spacer {
    flex-basis: 215px;
    flex-shrink: 10;
}

@media (max-width: 900px){
    .FriendPage-container {
        flex-direction: column;
        align-items: center;
    }

    .FriendPage-title {
        margin: 20px 0 20px 0;
    }

    .FriendPage-spacer {
        flex-basis: 0;
        height: 0;
    }
}